html {
justify-content: center;
display: flex;
}

#field {
border: 2px solid #683ae8;
width: 600px;
height: 600px;
background-color: #683ae8;
display: inline-block;
}

#table {
display: inline-block;
}

#d1 {
width: 37.5px;
height: 37.5px;
border: 2px solid black;
display: inline-block;
}

#d2 {
width: 37.5px;
height: 37.5px;
border: 2px solid black;
display: inline-block;
}

#d3 {
width: 37.5px;
height: 37.5px;
border: 2px solid black;
display: inline-block;
}

#d4 {
width: 37.5px;
height: 37.5px;
border: 2px solid black;
display: inline-block;
}